.btn-index{
    width: 100%;
    height: 2em;
    margin-top: 20px;
}

.ativado{
     background-color: #66bb6a;
}

.desativado{
     background-color:#ef5350;
}

.menu{
     margin-bottom: 20px;
}

.lg-max{
     width: 100%;
     margin: 5px;
}

.principal{
     margin-top: 25px;
}
