<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
       <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  
          

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	  
		
			<form class="col s12">
				<div class="input-field col s6">
					<input  id="nome" type="text" class="validate">
					<label for="nome">Nome da Bebida</label>
				</div>  		
				<div class="input-field col s6">
					<input  id="preco" type="text" class="validate">
					<label for="preco">Preço da Bebida</label>
				</div>  				  		    
			</form>		
		
			<form action="#">
				<p>
					<input type="checkbox" class="filled-in" id="filled-in-box"/>
					<label for="filled-in-box">Exibir no cardápio(marque para exibir)</label>
				</p>
			</form>
			
			<div class="row">
				<a class="waves-effect waves-light btn" href="index.html">Cadastrar Bebida</a>
				<a class="waves-effect waves-light btn" href="index.html">Voltar</a>
			</div>
    </body>
  </html>