<form class="col s12">
	<div class="input-field col s6">
		<input  id="nome" type="text" class="validate">
		<label for="nome">Nome do Combo</label>
	</div>  		
	<div class="input-field col s6">
		<input  id="preco" type="text" class="validate">
		<label for="preco">Preço do Combo</label>
	</div>  
	<div class="input-field col s6">
		<input  id="descricao" type="text" class="validate">
		<label for="descricao">Descrição do Combo</label>
	</div>  		     
</form>	
<div class="row">
	<div class="input-field col s12">
		<select id="QtdPorcao">
			<option value="" disabled selected>Quantas Porções acompanham</option>
			<option value="1">1 Porção</option>
			<option value="2">2 Porções</option>
			<option value="3">3 Porções</option>
			<option value="4">4 Porções</option>
			<option value="5">5 Porções</option>
		</select>					
	</div>
</div>
<form action="#">
	<p>
		<input type="checkbox" class="filled-in" id="filled-in-box"/>
		<label for="filled-in-box">Exibir no cardápio(marque para exibir)</label>
	</p>
</form>
<div class="row">
<a class="waves-effect waves-light btn">Selecionar Imagem</a>
</div>
<div class="row">
	<a class="waves-effect waves-light btn" href="index.html">Cadastrar Porção</a>
	<a class="waves-effect waves-light btn" href="index.html">Voltar</a>
</div>
