<nav>
  <div class="nav-wrapper orange darken-4">
    <a class="brand-logo center">FastFrango</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="index.html">VOLTAR</a></li>
        </ul>
  </div>
</nav>


  


<div class="container center-align">

    <div class="row" id="combos">
            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Escolha o combo</option>
                    <option value="1">Batata Mega</option>
                    <option value="2">Aipim Terra</option>
                    <option value="3">Frango Nota</option>
                </select>
            </div>            
    </div>

    <div class="row">
        <div class="">
            <a class="waves-effect waves-light btn orange accent-3"><i class="material-icons left">add_circle</i>Adicionar Combo</a>
        </div>
    </div>
</div>
