<div class="container center-align">

     <div class="card grey lighten-3">
          <div class="card-content">
               <h3>Bebidas</h3>
               <table class="bordered menu centered">
                    <thead>
                         <tr>
                              <th>Nome</th>
                              <th>Preço (R$)</th>
                              <th>Ações</th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr ng-repeat="bebida in bebidas">
                              <td>{{bebida.nome}}</td>
                              <td>{{bebida.preco}}</td>
                              <td>
                                   <a class="waves-effect waves-light btn" href="#!/bebidas/editar/{{bebida.id}}">Editar</a>
                                   <a class="waves-effect waves-light btn red" ng-click="deletarBebida(bebida)">Excluir</a>
                              </td>
                         </tr>

                    </tbody>
               </table>

               <a class="waves-effect waves-light btn" href="#!/bebidas/nova" >Adicionar nova bebida</a>


          </div>
     </div>
</div>
