<div class="container center-align">
    <div class="row">
        <div class="card horizontal grey lighten-2 col m8 s12 offset-m2">
            <div class="card-stacked">
            <div class="card-content">
                <form>
                    <div class="row">  
                        <h3>CADASTRO</h3>
                    </div> 
                    <div class="row">  
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="nome" type="text" class="validate">
                            <label for="nome">Nome</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div> 
                    <div class="row"> 
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">lock</i>
                            <input id="senha" type="password" class="validate">
                            <label for="senha">Senha</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">lock</i>
                            <input id="confirmacaoSenha" type="password" class="validate">
                            <label for="confirmacaoSenha">Confirme a Senha</label>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">local_phone</i>
                            <input id="telefone" type="text" class="validate">
                            <label for="telefone">Telefone</label>
                        </div>
                    </div>
                    <div class="row">  
                        <h4>ENDEREÇO</h4>
                    </div>
                    <div class="row">  
                        <div class="input-field col m6 s12">
                            <input id="cep" type="text" class="validate">
                            <label for="cep">CEP</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input id="rua" type="text" class="validate">
                            <label for="rua">Rua</label>
                        </div>
                    </div>
                    <div class="row">  
                        <div class="input-field col m6 s12">
                            <input id="numero" type="text" class="validate">
                            <label for="numero">Número</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input id="cidade" type="text" class="validate">
                            <label for="cidade">Cidade</label>
                        </div>
                    </div>
                    <div class="row">  
                        <div class="input-field col m6 s12">
                            <input id="referencia" type="text" class="validate">
                            <label for="referencia">Referência</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input id="bairro" type="text" class="validate">
                            <label for="bairro">Bairro</label>
                        </div>
                    </div>    
                </form>
            </div>
            <div class="card-action">
                <div class="blue-text text-darken-2">
                    <a class="waves-effect amber darken-4 waves-light btn" ng-click=""><i class="material-icons right">check</i>Cadastrar</a>                                            
                </div> 
            </div>
            </div>
        </div>
    </div>
</div>