<div class="container center-align">

     <div class="card grey lighten-3">
          <div class="card-content">
               <h4>Combos</h4>
               <nav>
                    <div class="nav-wrapper">
                         <form>
                              <div class="input-field  grey lighten-1">
                                   <input id="search" type="search" ng-model="criterioDeBusca1">
                                   <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                   <i class="material-icons">close</i>
                              </div>
                         </form>
                    </div>
               </nav>
               <table class="bordered menu">
                    <thead>
                         <tr>
                              <th>Desativar</th>
                              <th>Nome</th>
                              <th>Preço (R$)</th>
                              <th>Porção principal</th>
                              <th>Quantidade de complementos</th>
                         </tr>
                    </thead>
                    <tbody>

                         <tr ng-class="{desativado:combo.desativado, ativado:!combo.desativado}" ng-repeat="combo in combos | filter:{nome:criterioDeBusca1}">
                              <td><input type="checkbox" id="{{combo.id}}" ng-model="combo.desativado" ng-click="desativarElemento(combo)"/><label for="{{combo.id}}"></label></td>
                              <td>{{combo.nome}}</td>
                              <td>{{combo.preco}}</td>
                              <td>{{combo.porcao_principal.nome}}</td>
                              <td>{{combo.qtd_complementos}}</td>
                         </tr>

                    </tbody>
               </table>

               <h4>Produtos</h4>
               <nav>
                    <div class="nav-wrapper">
                         <form>
                              <div class="input-field  grey lighten-1">
                                   <input id="search" type="search" ng-model="criterioDeBusca2">
                                   <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                   <i class="material-icons">close</i>
                              </div>
                         </form>
                    </div>
               </nav>
               <table class="bordered menu">
                    <thead>
                         <tr>
                              <th>Desativar</th>
                              <th>Nome</th>
                              <th>Preço (R$)</th>
                              <th>Tipo</th>
                         </tr>
                    </thead>
                    <tbody>

                         <tr ng-class="{desativado:produto.desativado, ativado:!produto.desativado}" ng-repeat="produto in produtos | filter:{nome:criterioDeBusca2}">
                              <td><input type="checkbox" id="{{combos.length + produto.id}}" ng-model="produto.desativado" ng-click="desativarElemento(produto)"/><label for="{{combos.length + produto.id}}"></label></td>
                              <td>{{produto.nome}}</td>
                              <td>{{produto.preco}}</td>
                              <td>{{produto.tipo.nome}}</td>
                         </tr>

                    </tbody>
               </table>

     </div>
</div>
