<div class="container center-align">

     <div class="card grey lighten-3">
          <div class="card-content">
               <h3>Combos</h3>
               <nav>
                    <div class="nav-wrapper">
                         <form>
                              <div class="input-field  grey lighten-1">
                                   <input id="search" type="search" ng-model="criterioDeBusca">
                                   <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                   <i class="material-icons">close</i>
                              </div>
                         </form>
                    </div>
               </nav>
               <table class="bordered menu centered">
                    <thead>
                         <tr>
                              <th>Nome</th>
                              <th>Preço (R$)</th>
                              <th>Quantidade de porções</th>
                              <th>Ações</th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr ng-repeat="combo in combos | filter:{nome:criterioDeBusca}">
                              <td>{{combo.nome}}</td>
                              <td>{{combo.preco}}</td>
                              <td>{{combo.qtd_porcoes}}</td>
                              <td>
                                   <a class="waves-effect waves-light btn" href="#!/combos/editar/{{combo.id}}">Editar</a>
                                   <a class="waves-effect waves-light btn red" ng-click="deletarCombo(combo)">Excluir</a>
                              </td>
                         </tr>

                    </tbody>
               </table>

               <a class="waves-effect waves-light btn lg-max" href="#!/combos/novo" >Adicionar novo combo</a>


          </div>
     </div>
</div>
