<div class="container center-align">
    <div class="row">
        <div class="card horizontal grey lighten-2 col m6 s12 offset-m3">
          <div class="card-stacked">
            <div class="card-content">
                <form>
                    <div class="row">  
                        <h3>LOGIN</h3>
                    </div> 
                    <div class="row">  
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div> 
                    <div class="row"> 
                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>
                            <input id="senha" type="password" class="validate">
                            <label for="senha">Senha</label>
                        </div>
                    </div>
                    <div class="row"> 
                        <a>Esqueci minha senha</a>
                    </div>
                    <div class="row"> 
                        <a>Cadastro</a>
                    </div> 
                </form>
            </div>
            <div class="card-action">
                <div class="blue-text text-darken-2">
                    <a class="waves-effect amber darken-4 waves-light btn" onclick="realizarLogin();"><i class="material-icons right">forward</i>LOGIN</a>                                            
                </div> 
            </div>
          </div>
        </div>
    </div>
</div>