<div class="container center-align">

    <div class="card grey">
        <div class="card-content">

            <!-- TITULO -->
            <h3>PEDIDOS</h3>

                <!-- CARD PEDIDOS PENDENTES -->
                <div class="card grey lighten-2">
                    <div class="card-content">
                        <span class="card-title">PENDENTES</span>

                        <table class="striped centered bordered">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <!-- <th>Combos</th> -->
                                    <th>Porções</th>
                                    <th>Bebidas</th>
                                    <th>Preço</th>  
                                    <th></th>                                   
                                </tr>
                            </thead>                            
                            <tbody>
                                <tr ng-repeat="pedido in todosPedidos | filter: { status: 'pendente' }">
                                    <td>{{pedido.cliente}}</td>
                                    <!-- <td>{{pedido.combos}}</td> -->
                                    <td>{{pedido.porcoes}}</td>
                                    <td>{{pedido.bebidas}}</td>
                                    <td>{{pedido.precoFinal}}</td>
                                    <td><a class="waves-effect waves-light btn green" ng-click="confirmarPedido(pedido)">Confirmar</a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <!-- CARD PEDIDOS PENDENTES -->
                <div class="card grey lighten-2">
                    <div class="card-content">
                        <span class="card-title">A FAZER</span>

                        <table class="striped centered bordered">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Local</th>
                                    <th>Combos</th>
                                    <th>Porções</th>
                                    <th>Bebidas</th>
                                    <th>Preço</th>  
                                    <th></th>                                   
                                </tr>
                            </thead>                            
                            <tbody>
                                <tr ng-repeat="pedido in todosPedidos | filter: { status: 'fazendo' }">
                                    <td>{{pedido.nomeCliente}}</td>
                                    <td>{{pedido.local}}</td>
                                    <td>{{pedido.combos}}</td>
                                    <td>{{pedido.porcoes}}</td>
                                    <td>{{pedido.bebidas}}</td>
                                    <td>{{pedido.preco}}</td>
                                    <td><a class="waves-effect waves-light btn blue" ng-click="finalizarPedido(pedido)">Finalizar</a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>




        </div>
    </div>
</div>
