<div class="container center-align">

    <div class="card grey">
        <div class="card-content">

            <!-- TITULO -->
            <h3>PEDIDOS</h3>

                <!-- CARD PEDIDOS PENDENTES -->
                <div class="card grey lighten-2">
                    <div class="card-content">
                        <span class="card-title">PENDENTES</span>

                        <!-- porvisório -->
                        <table class="striped centered bordered">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Endereço</th>
                                    <th>Combos</th>
                                    <th>Porções</th>
                                    <th>Bebidas</th>
                                    <th>Preço</th>                                    
                                </tr>
                            </thead>                            
                            <tbody>
                                <tr>
                                    <td>Vinicius</td>
                                    <td>Rua H, 1087, Castelândia</td>
                                    <td>Ventani - batata, batata, aipim, polenta</td>
                                    <td>Batata</td>
                                    <td>Coca Cola 2L</td>
                                    <td>R$ 45.15</td>
                                    <td><a class="waves-effect waves-light btn green">Confirmar</a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <!-- CARD PEDIDOS PENDENTES -->
                <div class="card grey lighten-2">
                    <div class="card-content">
                        <span class="card-title">A FAZER</span>

                        <!-- porvisório -->
                        <table class="striped centered bordered">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Endereço</th>
                                        <th>Combos</th>
                                        <th>Porções</th>
                                        <th>Bebidas</th>
                                        <th>Preço</th>                                    
                                    </tr>
                                </thead>                            
                                <tbody>
                                    <tr>
                                        <td>Vinicius</td>
                                        <td>Rua H, 1087, Castelândia</td>
                                        <td>Ventani - batata, batata, aipim, polenta_______________________________________________</td>
                                        <td>Batata</td>
                                        <td>Coca Cola 2L</td>
                                        <td>R$ 45.15</td>
                                        <td><a class="waves-effect waves-light btn blue">Finalizar</a></td>
                                    </tr>
                                </tbody>
                            </table>

                    </div>
                </div>




        </div>
    </div>
</div>
